#1
.about

  .about__name
    Masanori Nishizawa
  .about__contents
    .about__contents__inner
      .about__contents__inner__photo
        = image_tag ("/about_photo.jpeg")
      .about__contents__inner__profile
        test<br>
        test<br>
        test<br>
        