.about
  .about__top
    .about__top__name
      Masanori Nishizawa
  .about__contents
    .about__contents__inner
      .about__contents__inner__photo
        = image_tag ("/fmarket_logo_red.svg"),size: "180x45"
      .about__contents__inner__profile