.about
  .about__top
    .about__top__name
      Masanori Nishizawa
  .about__contents
    .about__contents__inner
      .about__contents__inner__photo
        = image_tag ("/about_photo.jpeg")
      .about__contents__inner__profile
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>