.contact
  CONTACT
  .contact__wrapper
    %ul.contact__wrapper__list
      %li.contact__wrapper__list__content
        %a{:href => ""}
          = icon('fas', 'envelope')
      %li.contact__wrapper__list__content
        %a{:href => "https://twitter.com/m_nishizawa16"}
          = icon('fab', 'twitter-square')
      %li.contact__wrapper__list__content
        %a{:href => "https://www.facebook.com/masanori.nishizawa.39"}
          = icon('fab', 'facebook-square')

