.contact
  test
  .contact__wrapper
    %ul.contact__wrapper__list
      %li.contact__wrapper__list__content
        = icon('fas', 'envelope')
      %li.contact__wrapper__list__content
        = icon('fas', 'camera')
      %li.contact__wrapper__list__content
        = icon('fas', 'camera')