#4
.contact
  CONTACT
  .contact__wrapper
    %ul.contact__wrapper__list
      %li.contact__wrapper__list__content
        =link_to "#" do
          %i.fas.fa-envelope.twitter
      %li.contact__wrapper__list__content
        %a{:href => "https://twitter.com/m_nishizawa16"}
          %i.fab.fa-twitter-square.twitter
      %li.contact__wrapper__list__content
        %a{:href => "https://www.facebook.com/masanori.nishizawa.39"}
            %i.fab.fa-facebook-square.facebook

