.contact
  test
  .contact__wrapper
    %ul.contact__wrapper__list
      %li.contact__wrapper__list__content
        = icon('fas', 'envelope', class: 'icon')
      %li.contact__wrapper__list__content
        = icon('fab', 'twitter-square', class: 'icon')
      %li.contact__wrapper__list__content
        = icon('fab', 'facebook-square', class: 'icon')