.footer
  .footer__inner
    %ul.footer__inner__list
      %li.footer__inner__list__menu
        = link_to "ABOUT"
      %li.footer__inner__list__menu
        = link_to "WORKS"
      %li.footer__inner__list__menu
      %li.footer__inner__list__menu