.footer
  .footer__inner
    %ul.footer__inner__list
      %li.footer__inner__list__menu
        %a{:href => "#1"} ABOUT
      %li.footer__inner__list__menu
        = link_to "WORKS"
      %li.footer__inner__list__menu
        = link_to "SKILL"
      %li.footer__inner__list__menu
        = link_to "CONTACT"
