.menubar
  .menubar__nav
    %ul.menubar__nav__contents
      %li.menubar__nav__contents__menu
        = link_to "ABOUT"
      %li.menubar__nav__contents__menu
        = link_to "WORKS"
      %li.menubar__nav__contents__menu
        = link_to "SKILL"

%nav#gnav
  %ul
    %li
      %a{:href => "#feature"} FEATURE
    %li
      %a{:href => "#works"} WORKS
    %li
      %a{:href => "#about"} ABOUT
    %li
      %a{:href => "#skill"} SKILL
    %li
      %a{:href => "#contact"} CONTACT
