.menubar
  .menubar__nav
    %ul.menubar__nav__contents
      %li.menubar__nav__contents__menu
        ABOUT
      %li.menubar__nav__contents__menu
        WORKS
      %li.menubar__nav__contents__menu
         SKILL
      %li.menubar__nav__contents__menu
        CONTACT

%body
  #sample
    %ul
      %li.btn_sample サンプル1へ
      %li.btn_sample サンプル2へ
      %li.btn_sample サンプル3へ
    .content サンプル1
    .btn_top ページ上部へ
    .content サンプル2
    .btn_top ページ上部へ
    .content サンプル3
    .btn_top ページ上部へ
