.menubar
  .menubar__nav
    %ul.menubar__nav__contents
      %li.menubar__nav__contents__menu
        = link_to "ABOUT"
      %li.menubar__nav__contents__menu
        = link_to "WORKS"
      %li.menubar__nav__contents__menu
        = link_to "SKILL"


#contents
  #navigation
    %ul
      %li
        %a{:href => ""} menu1
      %li
        %a{:href => ""} menu2
      %li
        %a{:href => ""} menu3
      %li
        %a{:href => ""} menu4
