.menubar
  .menubar__nav
    %ul.menubar__nav__contents
      %li.menubar__nav__contents__menu
        = link_to "ABOUT"
      %li.menubar__nav__contents__menu
        = link_to "WORKS"
      %li.menubar__nav__contents__menu
        = link_to "SKILL"

        