.menubar
  .menubar__nav
    %ul.menubar__nav__contents
      %li.menubar__nav__contents__menu
        = link_to "ABOUT"
      %li.menubar__nav__contents__menu
        = link_to "WORKS"
      %li.menubar__nav__contents__menu
        = link_to "SKILL"


#contents
  #navigation
    %ul
      %li
        %a{:href => ""} menu1
      %li
        %a{:href => ""} menu2
      %li
        %a{:href => ""} menu3
      %li
        %a{:href => ""} menu4
  #main
    %h1 Dummy Text
    %p
      Natoque facilisi diam quisque aliquam posuere. Pede dolor suspendisse faucibus, primis mi vivamus sagittis mauris tempor torquent, molestie lectus. Leo. Aptent tellus mi mauris Malesuada aenean lectus bibendum.
    %p
      Hac nullam. Integer integer. Facilisi donec. Venenatis Non consequat, cum accumsan. Luctus pulvinar non hendrerit per fames quis.
    %p
      Euismod massa aliquam diam vulputate consectetuer nostra, bibendum auctor ante. Quam. Gravida diam lobortis sapien sociis justo. Tristique augue vehicula sem condimentum euismod ornare.
    %p
      Et sodales elit conubia venenatis sagittis penatibus malesuada. Habitant ligula turpis nisi nulla lacus sagittis leo lorem orci torquent pulvinar rutrum habitant diam dis nibh nibh velit enim ante scelerisque.
    %p
      Natoque facilisi diam quisque aliquam posuere. Pede dolor suspendisse faucibus, primis mi vivamus sagittis mauris tempor torquent, molestie lectus. Leo. Aptent tellus mi mauris Malesuada aenean lectus bibendum.
    %p
      Hac nullam. Integer integer. Facilisi donec. Venenatis Non consequat, cum accumsan. Luctus pulvinar non hendrerit per fames quis.
    %p
      Euismod massa aliquam diam vulputate consectetuer nostra, bibendum auctor ante. Quam. Gravida diam lobortis sapien sociis justo. Tristique augue vehicula sem condimentum euismod ornare.
    %p
      Et sodales elit conubia venenatis sagittis penatibus malesuada. Habitant ligula turpis nisi nulla lacus sagittis leo lorem orci torquent pulvinar rutrum habitant diam dis nibh nibh velit enim ante scelerisque.
    %p
      Natoque facilisi diam quisque aliquam posuere. Pede dolor suspendisse faucibus, primis mi vivamus sagittis mauris tempor torquent, molestie lectus. Leo. Aptent tellus mi mauris Malesuada aenean lectus bibendum.
    %p
      Hac nullam. Integer integer. Facilisi donec. Venenatis Non consequat, cum accumsan. Luctus pulvinar non hendrerit per fames quis.
    %p
      Euismod massa aliquam diam vulputate consectetuer nostra, bibendum auctor ante. Quam. Gravida diam lobortis sapien sociis justo. Tristique augue vehicula sem condimentum euismod ornare.
    %p
      Et sodales elit conubia venenatis sagittis penatibus malesuada. Habitant ligula turpis nisi nulla lacus sagittis leo lorem orci torquent pulvinar rutrum habitant diam dis nibh nibh velit enim ante scelerisque.
