.menubar
  .menubar__nav
    %ul.menubar__nav__contents
      %li.menubar__nav__contents__menu
        = link_to "ABOUT"
      %li.menubar__nav__contents__menu
        = link_to "WORKS"
      %li.menubar__nav__contents__menu
        = link_to "SKILL"
      %li.menubar__nav__contents__menu
        = link_to "CONTACT"
%ul
  %li
    %a{:href => "#1"} sample1
  %li
    %a{:href => "#2"} sample2
  %li
    %a{:href => "#3"} sample3
  %li
    %a{:href => "#4"} sample4
#1
  %h2 sample1
  %a.button{:href => "#index"} Topへ
#2
  %h2 sample2
  %a.button{:href => "#index"} Topへ
#3
  %h2 sample3
  %a.button{:href => "#index"} Topへ
#4
  %h2 sample4
  %a.button{:href => "#index"} Topへ
