.menubar
  %ul.menubar__contents
    %li.menubar__contents__menu
      = link_to "ABOUT"
    %li.menubar__contents__menu
      = link_to "WORKS"
    %li.menubar__contents__menu
      = link_to "SKILL"