#2
.skill
  .skill__top
    SKILL
  .skill__text
    texttest
  .skill__card-wrapper

    .skill__card-wrapper__card
      .skill__card-wrapper__card__logo
        = image_tag ("/html-css.png")
      .skill__card-wrapper__card__contents
        .skill__card-wrapper__card__contents__title
          HTML5 / CSS3
        .skill__card-wrapper__card__contents__rate
          ★★★★☆
        .skill__card-wrapper__card__contents__text
          test

    .skill__card-wrapper__card
      .skill__card-wrapper__card__logo
        = image_tag ("/javascript.png")
      .skill__card-wrapper__card__contents
        .skill__card-wrapper__card__contents__title
          JavaScript
        .skill__card-wrapper__card__contents__rate
          ★★★★☆
        .skill__card-wrapper__card__contents__text
        test

    .skill__card-wrapper__card
      .skill__card-wrapper__card__logo
        = image_tag ("/ruby.jpeg")
      .skill__card-wrapper__card__contents
        .skill__card-wrapper__card__contents__title
          Ruby / Ruby on Rails
        .skill__card-wrapper__card__contents__rate
          ★★★☆☆
        .skill__card-wrapper__card__contents__text
          test

    .skill__card-wrapper__card
      .skill__card-wrapper__card__logo
        = image_tag ("/github.png")
      .skill__card-wrapper__card__contents
        .skill__card-wrapper__card__contents__title
          GitHub
        .skill__card-wrapper__card__contents__rate
          ★★★★☆
        .skill__card-wrapper__card__contents__text
          test