.skill
  .skill__top
  .skill__card-wrapper
    .skill__card-wrapper__card
      .skill__card-wrapper__card__logo
      .skill__card-wrapper__card__title
        HTML5 / CSS3
      .skill__card-wrapper__card__text
        test
    .skill__card-wrapper__card
      .skill__card-wrapper__card__logo
      .skill__card-wrapper__card__title
        JavaScript
      .skill__card-wrapper__card__text
    .skill__card-wrapper__card
      .skill__card-wrapper__card__logo
      .skill__card-wrapper__card__title
        Ruby / Ruby on Rails
      .skill__card-wrapper__card__text
    .skill__card-wrapper__card
      .skill__card-wrapper__card__logo
      .skill__card-wrapper__card__title
      .skill__card-wrapper__card__text