.works
  .works__top
    WORKS
  %ul.works__contents
    %li.works__contents__content
    %li.works__contents__content
    %li.works__contents__content
    %li.works__contents__content
    %li.works__contents__content
