.works
  WORKS
  .works__top
  %ul.works__contents
    %li.works__contents__content
    %li.works__contents__content
    %li.works__contents__content
    %li.works__contents__content
    %li.works__contents__content
