$color: #696969;
$border: #e6e6fa;
.wrapper{
  font-family: 'Hiragino Sans','ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic''ＭＳ ゴシック','Helvetica Neue','Helvetica','Arial',sans-serif;
  color: $color;
  background-color: #b0c4de;
  .header{
    margin: 30px;
    background:radial-gradient(45% 31% at 49% 50%, rgba(0,151,141,0) 0%, #B6D3F3 100%) no-repeat 100% 100% / 100% 100%
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title{
      text-align: center;
      &__top{
        font-size: 30px;
      }
      &__main{
        font-size: 60px;
      }
    }
  }
  .menubar{
    margin: 30px;
    &__contents{
      display: flex;
      justify-content: center;
      border-top : solid 2px $border;
      &__menu{
        margin: 10px 40px;
        a{
        color: $color;
        }
      }
    }
  }
  .about{
    border-top: solid 2px $border;
    margin: 30px;
    &__top{
      display: flex;
      align-items: center;
      justify-content: center;
  
      &__name{
        margin: 10px 0 ;
        font-size: 35px;
      }
    }
    &__contents{
      display: flex;
      align-items: center;
      justify-content: center;
      &__inner{
        border: 1px red solid;
        width: 900px;
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;  
        &__photo{
          img{
            border-radius: 50%;
            height: 300px;
            width: 250px;
          }
        }
        &__profile{
          margin-left: 30px;
          font-size: 20px;
        }
      }
    }
  }
}