.wrapper{
  font-family: 'Cormorant Garamond', serif;
  color: #231815;
  background-color: #f0f8ff;
  font-size: 18px;
  box-sizing: border-box;
  .inner{
    margin: 0 30px;
    .header{
      height: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__title{
        &__name{
          font-family: 'Amatic SC', cursive;
          font-size: 60px;
        }
        &__sub{
          font-size: 30px;
          color: #696969;
          text-align: center;
        }
      }
    }
    .menubar{
      border: solid 5px #696969;
      border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
      &__contents{
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &__menu{
          a{
            margin: 0 30px;
          }
        }
      }
    }
    .about{
      &__top{
    
        &__name{
        }
      }
      &__contents{
        &__inner{
          &__photo{
            img{
            }
          }
          &__profile{
          }
        }
      }
    }
  }
}