.wrapper{
  font-family: 'Hiragino Sans','ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic''ＭＳ ゴシック','Helvetica Neue','Helvetica','Arial',sans-serif;
  color: $color;
  background-color: #b0c4de;
  .header{
    &__title{
      &__top{
      }
      &__main{
      }
    }
  }
  .menubar{
    &__contents{
      &__menu{
        a{
        }
      }
    }
  }
  .about{
    &__top{
  
      &__name{
      }
    }
    &__contents{
      justify-content: center;
      &__inner{
        &__photo{
          img{
          }
        }
        &__profile{
        }
      }
    }
  }
}